@using Control.Entities.Models.Entites
@model Employee
@{
    ViewBag.Title = "Çalışan Detay Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title || <a href="~/Employee/Index" class="btn btn-primary">Çalışan Listesi</a> || <a href="~/Employee/Delete/@Model.Id" class="btn btn-danger">Çalışanı Sil</a>
                        </header>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adresi</th>
                                    <th>Ülkesi</th>
                                    <th>Eyalet-Bölge</th>
                                    <th>Şehir</th>
                                    <th>Telefon No</th>
                                    <th>Ev Telefon No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>@Model.EmployeeInfo.Address</td>
                                    <td>@Model.EmployeeInfo.Country</td>
                                    <td>@Model.EmployeeInfo.Province</td>
                                    <td>@Model.EmployeeInfo.City</td>
                                    <td>@Model.EmployeeInfo.PhoneNumber</td>
                                    <td>@Model.EmployeeInfo.HomeNumber</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>