@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<Departmant>
@{
    ViewBag.Title = "Departman Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Departmant/Create" class="btn btn-primary btn-xs">Yeni Departman Ekle</a> || <a href="~/GetConfirmList/DepartmantConfirmList" class="btn btn-warning btn-xs">Onay Bekleyenler</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Departman Adı</th>  
                                        <th>Çalışan Sayısı</th>
                                        <th>Eklenme Tarihi</th>                                        
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.Name</td>
                                            <td>@item.Employees.Count()</td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                            <td>
                                                <a href="~/Departmant/Edit/@item.Id" class="btn btn-success btn-xs">Güncelle</a>
                                                <a href="~/Departmant/Delete/@item.Id" class="btn btn-danger btn-xs">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Departman Adı</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>