@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<Order>
@{
    Layout = null;
    ViewBag.Title = "Ülkelerden Siparişler";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Order/Index" class="btn btn-primary btn-xs">Sipariş Listesi</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Sipariş No</th>
                                        <th>Sipariş Tarihi</th>
                                        <th>Sevk Tarihi</th>
                                        <th>Kategorisi</th>
                                        <th>Ülkesi</th>
                                        <th>Eyalet-Bölge</th>
                                        <th>Şehir</th>
                                        <th>Kargo Şirketi</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.OrderNo</td>
                                            <td>@item.RequiredDate.ToShortDateString()</td>
                                            <td>@item.ShippedDate.ToShortDateString()</td>
                                            <td><a href="~/Home/CategoryToOrder/@item.CategoryId" class="btn btn-link" target="_blank">@item.Category.Name</a></td>
                                            <td><a href="~/Home/CountryToOrder/@item.CountryId" class="btn btn-link" target="_blank">@item.Country.Name</a></td>
                                            <td><a href="~/Home/ProvinceToOrder/@item.ProvinceId" class="btn btn-link" target="_blank">@item.Province.Name</a></td>
                                            <td><a href="~/Home/OrderToCity/@item.CityId" class="btn btn-link" target="_blank">@item.City.Name</a></td>
                                            <td><a href="~/Home/ShipperToOrder/@item.ShipperId" class="btn btn-link" target="_blank">@item.Shipper.Name</a></td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Sipariş No</th>
                                        <th>Sipariş Tarihi</th>
                                        <th>Sevk Tarihi</th>
                                        <th>Kategorisi</th>
                                        <th>Ülkesi</th>
                                        <th>Eyalet-Bölge</th>
                                        <th>Şehir</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("CountryToOrder", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>