@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<Note>
@{
    ViewBag.Title = "Sipariş Not Listesi";
    Layout = null;
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Note/Index" class="btn btn-warning btn-xs">Not Listesi</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklaması</th>
                                        <th>Not Sahibi</th>
                                        <th>Çalışan Notları | Ürün Notları</th>
                                        <th>Sipariş Notları | Ödeme Sistemi Notları</th>
                                        <th>Müşteri Notları</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.Owner</td>
                                            <td><a href="~/Home/NoteToEmployee/@item.Id" class="btn btn-link" target="_blank">@item.Employee.NameSurname</a> || <a href="~/Home/NoteToProduct/@item.Id" class="btn btn-link" target="_blank">@item.Product.Name</a></td>
                                            <td><a href="~/Home/NoteToOrder/@item.Id" class="btn btn-link" target="_blank">@item.Order.OrderNo</a> || <a href="~/Home/NoteToOrder/@item.Id" class="btn btn-link" target="_blank">@item.Payment.Name</a></td>
                                            <td><a href="~/Home/NoteToCustomer/@item.Id" class="btn btn-link" target="_blank">@item.Customer.NameSurname</a></td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklaması</th>
                                        <th>Not Sahibi</th>
                                        <th>Çalışan Notları | Ürün Notları</th>
                                        <th>Sipariş Notları | Ödeme Sistemi Notları</th>
                                        <th>Müşteri Notları</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("NoteToOrder", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>