@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<Product>
@{
    Layout = null;
    ViewBag.Title = "Lokasyona (Nereden) Göre Ürün Listesi";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Product/Index" class="btn btn-primary btn-xs">Ürün Listesi</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Ürün No</th>
                                        <th>Ürün Adı</th>
                                        <th>Stok Durumu || Stok Sayısı</th>
                                        <th>Fiyatı || Miktarı || İndirim Oranı</th>
                                        <th>Kategorisi</th>
                                        <th>Altkategorisi</th>
                                        <th>Lokasyon (Nereden) || Lokasyon (Nereye)</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.ProductNumber</td>
                                            <td>@item.Name</td>
                                            <td>@item.InStock || @item.Stock</td>
                                            <td>@item.ProductDetail.Price.ToString() || @item.ProductDetail.Quantity.ToString() || @item.ProductDetail.Discount.ToString()</td>
                                            <td><a href="~/Home/ProductToCategory/@item.Id" class="btn btn-link" target="_blank">@item.Category.Name</a></td>
                                            <td><a href="~/Home/ProductToSubcategory/@item.Id" class="btn btn-link" target="_blank">@item.Subcategory.Name</a></td>
                                            <td><a href="~/Home/ProductToFromWhere/@item.Id" class="btn btn-link" target="_blank">@item.FromWhere.Name</a> || <a href="~/Home/ProductToWhere/@item.Id" class="btn btn-link" target="_blank">@item.ToWhere.Name</a></td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Ürün No</th>
                                        <th>Ürün Adı</th>
                                        <th>Stok Durumu || Stok Sayısı</th>
                                        <th>Fiyatı || Miktarı || İndirim Oranı</th>
                                        <th>Kategorisi</th>
                                        <th>Altkategorisi</th>
                                        <th>Lokasyon (Nereden) || Lokasyon (Nereye)</th>
                                        <th>Eklenme Tarihi</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("ProductToFromWhere", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>