@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<OrderDetail>
@{
    ViewBag.Title = "Sipariş Detay Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title ||  <a href="~/Order/Index" class="btn btn-danger btn-xs">Tüm Siparişler</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Fiyat</th>
                                        <th>Miktar</th>
                                        <th>İndirim</th>
                                        <th>Sipariş</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.Price</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Discount</td>
                                            <td>@item.Order.OrderNo</td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                            <td>
                                                <a href="~/OrderDetail/Delete/@item.Id" class="btn btn-danger btn-xs">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Fiyat</th>
                                        <th>Miktar</th>
                                        <th>İndirim</th>
                                        <th>Sipariş</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>