@using PagedList
@using PagedList.Mvc
@using Control.Entities.Models.Entites
@model IPagedList<Product>
@{
    ViewBag.Title = "Ürün Onay Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title || <a href="~/Product/Index" class="btn btn-primary btn-xs">Ürün Listesi</a>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Ürün No</th>
                                        <th>Ürün Adı</th>
                                        <th>Stok Sayısı</th>
                                        <th>Fiyatı || Miktarı || İndirim Oranı</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@item.ProductNumber</td>
                                            <td>@item.Name</td>
                                            <td>@item.Stock</td>
                                            <td>@item.ProductDetail.Price.ToString() || @item.ProductDetail.Quantity.ToString() || @item.ProductDetail.Discount.ToString()</td>
                                            <td>@item.CreatedTime.ToShortDateString()</td>
                                            <td>
                                                <a href="~/GetConfirmList/ProductConfirm/@item.Id" class="btn btn-success btn-xs">Onayla</a>
                                                <a href="~/Product/Delete/@item.Id" class="btn btn-danger btn-xs">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Ürün No</th>
                                        <th>Ürün Adı</th>
                                        <th>Stok Sayısı</th>
                                        <th>Fiyatı || Miktarı || İndirim Oranı</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pagination">
                                <div class="paginate_active">
                                    @Html.PagedListPager(Model, Page => Url.Action("ProductConfirmList", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
